:root {
  --main-bg-color: #f4633a;
}

/////////////////////////////////
// Spacing
/////////////////////////////////
$spacing-xl: 24px;
$spacing-l: 16px;
$spacing-base: 8px;
$spacing-s: 4px;

/////////////////////////////////
// Colors
/////////////////////////////////
$color-base: #051c2c;
$color-negative: #fff;
$color-primary: #3a7456;
$color-secondary: #0085ca;
$color-tertiary: #f4633a;

$color-border: #eee;
$color-input-bg: #efefef;
$color-invalid: #cc0000;
$color-success: #58cc5e;

/////////////////////////////////
// Misc
/////////////////////////////////
$border-radius-base: 3px;
$box-shadow-md: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0px 4px 6px rgba(0, 0, 0, 0.05),
  0px 10px 15px rgba(0, 0, 0, 0.1);
$box-shadow-xl: 0px 10px 10px rgba(0, 0, 0, 0.04),
  0px 20px 25px rgba(0, 0, 0, 0.1);
