@mixin transition-slow($property) {
  transition: $property 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@mixin transition-normal($property) {
  transition: $property 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@mixin transition-fast($property) {
  transition: $property 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
