@import "./settings";

@mixin heading1($inverted: 0) {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: -0.02em;
  font-feature-settings: "cv06" on, "cv10" on, "cv05" on, "case" on, "cpsp" on,
    "cv04" on, "cv03" on, "cv02" on, "cv01" on, "cv08" on, "cv09" on;

  @if $inverted == 1 {
    letter-spacing: 0.05em;
    color: $color-negative;
  }
}

@mixin heading2($inverted: 0) {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -0.015em;
  font-feature-settings: "cv06" on, "cv10" on, "cv05" on, "case" on, "cpsp" on,
    "cv04" on, "cv03" on, "cv02" on, "cv01" on, "cv08" on, "cv09" on;

  @if $inverted == 1 {
    letter-spacing: 0.05em;
    color: $color-negative;
  }
}

@mixin heading3($inverted: 0) {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
  font-feature-settings: "cv06" on, "cv10" on, "cv05" on, "cv01" on, "cv02" on,
    "cv03" on, "cv04" on, "case" on, "cpsp" on, "cv08" on, "cv09" on;

  @if $inverted == 1 {
    letter-spacing: 0.05em;
    color: $color-negative;
  }
}

@mixin heading4($inverted: 0) {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.001em;
  font-feature-settings: "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv05" on,
    "cv06" on, "cv08" on, "cv09" on, "cv10" on, "case" on, "cpsp" on;

  @if $inverted == 1 {
    letter-spacing: 0.05em;
    color: $color-negative;
  }
}

@mixin bodyL($inverted: 0) {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: "tnum" on, "lnum" on, "cv06" on;

  @if $inverted == 1 {
    letter-spacing: 0.05em;
    color: $color-negative;
  }
}

@mixin bodyS($inverted: 0) {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "tnum" on, "lnum" on, "cv05" on, "cv04" on, "cv03" on,
    "cv02" on, "cv01" on, "cv06" on, "cv08" on, "cv09" on, "cv10" on, "zero" on,
    "case" on, "cpsp" on;

  @if $inverted == 1 {
    letter-spacing: 0.05em;
    color: $color-negative;
  }
}
